.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-link {
  color: #61dafb;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
